html,body{
    background-image: linear-gradient(135deg, $primary-color , #67828a, $primary-color );
    background-size: 500% 250% ;
    animation: gradient 15s ease-in-out infinite;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


// fondo campo de estrellas 
.space{
   
     width: var(--size);
    height: var(--size);
    background: white;
    box-shadow:  var(--space-layer);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 75%;
    animation: moveStars var(--duration)linear infinite;
}

@keyframes moveStars{
   from {transform: translateY(0);}
    to {transform: translateY(-100vh);}
}