

@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@600&family=Nobile:wght@700&family=Numans&display=swap');

//Variables de colores

$primary-color: #2B2E4A;
$secondary-color: #E84545;
$tertiary-color: #CECECE;


//Variables de fuentes

$fuente-titulo: 'nobile', sans-serif;
$fuente-subtitulo: 'Alegreya', sans-serif;
$fuente-texto: 'Numans', sans-serif;



