@use "variables" as variables;
@use "mixins" as mixins;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body , html {
    font-size: 16px;
    background-color: variables.$primary-color;
    height: 100vh;
    overflow: hidden;
   
}
h1 {
    font-family: variables.$fuente-titulo;
    font-size: 2rem;
    color: variables.$secondary-color;
    text-align: center;
    letter-spacing: 0.1rem;
    margin-bottom: 20px;

    @include mixins.movil {
        font-size: 1.5rem;
    }
    @include mixins.tablet {
        font-size: 1.8rem;
    }
}
h2 {
    font-family: variables.$fuente-subtitulo;
    font-size: 1.5rem;
    color: variables.$primary-color;
    text-align: center;

    @include mixins.movil {
        font-size: 1rem;
    }
    @include mixins.tablet {
        font-size: 1.2rem;
    }
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.header {
    padding: 1%;
    height: 7.5vh;
    .logo {
        width: 5%;
        margin: auto;
    }

    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
  
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);

    @include mixins.movil {
        padding: 2%;
    }
    
}




    .contenedor__principal {
        margin: auto;
        display: flex;
        flex-direction: row;
        height: 85vh;
        gap: 2rem;
        justify-content: center;
        align-items: center;
     
       

        @include mixins.movil {
            padding-top: 2rem;
            flex-direction: column;
        }
        @include mixins.tablet {
            padding: 2rem;
          flex-direction: column;
        }

        .cont__input {
          width: 30%;
          height: calc(100% - 2rem);
            background: rgba(232, 69, 69, 1);
            border-radius: 16px;
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(5px);
            -webkit-backdrop-filter: blur(5px);
            

            display: flex;
            flex-direction: column;

            padding-bottom: 2rem;

            @include mixins.movil {
                width: 80%;
            }
            @include mixins.tablet {
                width: 80%;
            }

            

            .instrucciones {
                flex-grow: 1;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .areaText {
                flex-grow: 6;
                box-sizing: border-box;
                display: flex;
                justify-content: center;
                align-items: center;

                cursor: text;

                textarea {
                    height: 100%;
                    width: 90%;
                    border: none;
                    color: variables.$primary-color;
                    font-family: variables.$fuente-texto;
                    outline: none;
                    text-align: center;
                    padding: 5%;
                    resize: none;
                    caret-color: variables.$secondary-color;
                    border-radius: 12px;
                    background-color: variables.$tertiary-color;
                }
            }
        }
        .cont__botones {
            width: 30%;
            height: calc(100% - 2rem);
            display: flex;
            flex-direction: column;
            justify-content: center;
            @include mixins.movil {
                width: 80%;
            }
            @include mixins.tablet {
                width: 80%;
            }
          

            .botones {
                display: flex;
                flex-direction: column;
                gap: 1.5rem;
                padding: 1rem;

                button {
                    padding: 1rem;
                    border: none;
                    border-radius: 12px;
                    background-color: variables.$tertiary-color;

                    :nth-child(1) {
                        background-color: variables.$primary-color;
                        color: variables.$tertiary-color;
                    }
                    color: variables.$primary-color;
                    font-family: variables.$fuente-subtitulo;
                    font-size: 1.2rem;
                    cursor: pointer;
                    transition: all 0.3s;
                    &:hover {
                        background-color: variables.$secondary-color;
                        color: variables.$tertiary-color;
                    }
                }
            }
        }
        .cont__output {
            height: calc(100% - 2rem);
            width: 30%;
            display: flex;
            flex-direction: column;
            order: 3;
            background-color: variables.$tertiary-color;
            
            border-radius: 16px;
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(5px);
            -webkit-backdrop-filter: blur(5px);
            
            padding: 15px;
            gap: 5px;
            @include mixins.movil {
                width: 80%;
            }
            @include mixins.tablet {
                width: 80%;
            }
            .imagen__otput {
                margin: auto;
            }
        }
   

    .div-popup {
        padding: 5%;
        background-color: variables.$secondary-color;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 60vw;
        width: max-content + 20px;
        transform: translate(-50%, -50%);

        @include mixins.movil {
            width: 80vw;
        }
    }

    .show {
        display: none;
    }
    .popup {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.718);
        z-index: 100;
    }
}

//-------------------Footer-------------------

  .footer{
   
    height: 7.5vh;
   width: 100%;
    padding: 1%;
    .logo {
        width: 5%;
        margin: auto;
    }

    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
  
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);

    @include mixins.movil {
        padding: 2%;
    }
  }