@import "variables";
@import "mixins";
@import "fondoanimado";



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  font-size: 16px;
  overflow: hidden;
  
}
h1 {
  @include titulo;
  text-align: center;
  letter-spacing: 0.1rem;
 
}
h2 {
  @include subtitulo;
  text-align: center;
}

p,
span {
  @include texto;
  text-align: center;
}

img {
  width: 100%;
  height: auto;
  vertical-align: top;
}
// -----------------------//
//     HEADER           //
// ----------------------//

.header {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);

  padding: 1%;
  padding-left: 5%;
  padding-right: 5%;
  height: 7.5vh;
  display: flex;
  gap: 1rem;
  align-items: center;

  img {
    object-fit: contain;
  }


  .logo_one {
    max-height: 100%;
    width: 10%;
    @include movil {
      width: 16%;
    }
    @include tablet {
      width: 10%;
    }
  }
  .logo_alura {
    max-height: 100%;
    width: 10%;
    @include movil {
      width: 15%;
    }
    @include tablet {
      width: 11%;
    }
  }


  .separador {
    height: 100%;
    width: 2px;
    background-color: white;
  }

  @include movil {
    padding: 2%;
    height: 10vh;
  }

  .div_texto_animado{
    margin-left: auto;
    .typedAnimado_header{
      color: $secondary-color;
      font-weight: bold;

    }
  }
}
// -----------------------//
//  CONTENEDOR PRINCIPAL //
// ----------------------//
.contenedor__principal {
  margin: auto;
  display: flex;
  flex-direction: row;
  height: 85vh;
  gap: 2rem;
  justify-content: center;
  align-items: center;

  @include movil {
    padding-top: 1rem;
    gap: 1.5rem;
    flex-direction: column;
  
    height: 65vh;
    padding-bottom: 1rem;
  }
  @include tablet {
    padding: 2rem;
    flex-direction: column;
  }
  // -----------------------//
  //  CONTENEDOR ENTRADA   //
  // ----------------------//
  .cont__input {
    -webkit-box-shadow: 10px 10px 11px 0px rgba(0, 0, 0, 0.36);
    -moz-box-shadow: 10px 10px 11px 0px rgba(0, 0, 0, 0.36);
    box-shadow: 10px 10px 11px 0px rgba(0, 0, 0, 0.36);

    width: 30%;
    height: 90%;
    background-color: $secondary-color;
    border-radius: 16px;

    display: flex;
    flex-direction: column;

    @include movil {
      width: 90%;
      
    }
    @include tablet {
      width: 80%;
    }

    
    .areaText {
      flex-grow: 6;
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 2%;

      cursor: text;

      textarea {
        height: 100%;
        width: 100%;
        border: none;
        color: $primary-color;
        font-family: $fuente-texto;
        outline: none;
        text-align: center;
        padding: 2%;
        resize: none;
        caret-color: $secondary-color;
        border-radius: 12px;
        background-color: $tertiary-color;
      }
    }
  }
  // -----------------------//
  //  CONTENEDOR BOTONES   //
  // ----------------------//
  .cont__botones {
    width: 30%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include movil {
      
      
      width: 60%;
    }
    @include tablet {
      width: 80%;
    }

    h1 {
      @include titulo;
      text-shadow: rgba(0, 0, 0, 0.67) 0px 10px 24px;
      
    }

    .botones {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      padding: 1rem;

      button {
        padding: 1.5%;
        border: none;
        border-radius: 12px;
        background-color: $tertiary-color;

        -webkit-box-shadow: 10px 10px 11px 0px rgba(0, 0, 0, 0.36);
        -moz-box-shadow: 10px 10px 11px 0px rgba(0, 0, 0, 0.36);
        box-shadow: 10px 10px 11px 0px rgba(0, 0, 0, 0.36);

        color: $primary-color;
        font-family: $fuente-subtitulo;
        font-size: 1.2rem;
        cursor: pointer;
        transition: all 0.3s;
        &:hover {
          background-color: $secondary-color;
          color: $tertiary-color;
        }
      }
    }
  }
  // ----------------------//
  //  CONTENEDOR SALIDA    //
  // ----------------------//
  .cont__output {
    position: relative;
    height: 90%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2%;

    order: 3;
    background-color: $tertiary-color;

    -webkit-box-shadow: 10px 10px 11px 0px rgba(0, 0, 0, 0.36);
    -moz-box-shadow: 10px 10px 11px 0px rgba(0, 0, 0, 0.36);
    box-shadow: 10px 10px 11px 0px rgba(0, 0, 0, 0.36);
    border-radius: 16px;

    
   
    @include movil {
      width: 90%;
      height: 60%;
      
    }
    @include tablet {
      width: 80%;
      
    }
    .imagen_ouput{
      width: 100%;
      @include movil {
        width: 50%;
      }
      @include tablet {
        width: 40%;
      }
      
      object-fit: contain;
    }
    .div_output{
      
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      
    .salida_texto{
      
     word-wrap: break-word;
     word-break: break-all;
      color: $primary-color;

    }
    .titulo_salida{
      
      color: $secondary-color
    }
  }
  .btn_copiar{
    z-index: 10;
    position: absolute;
    bottom: 2%;
    right: 3%;
    #btnCopiar{
      z-index: 10;
      width: 3rem;
      @include movil {
        width: 2rem;
      }
      @include tablet {
        width: 2.5rem;
      }
      
    }
  }
  }
  // ----------------------//
  //        POP UP         //
  // ----------------------//
  .div-popup {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border-radius: 1rem;
    background-color: $tertiary-color;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60vw;
    width: max-content + 20px;
    transform: translate(-50%, -50%);
    gap: 1rem;
    
    @include movil {
      width: 90vw;
      
    }
    @include tablet {
      width: 80vw;
    }
    ul{
      list-style-type:none;
    }
   p{
    color: $primary-color;
   }
  }

  .show {
    display: none;
  }
  .popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.718);
    z-index: 100;
  }
}

// -----------------------//
//        FOOTER        //
// ----------------------//

.footer {

  position: fixed;
  bottom: 0;

  height: 7.5vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;

  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  

  .footer__text {
    
      display: flex;
      gap: 0.5rem;
      justify-content: center;
      align-items: center;
    span{
      color: $primary-color;
    }
  
  }
  @include movil {
    height: 10vh;
  }

  .footer__logos{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    .logo_fotter{
      width: 1rem;
    }
  }
}
